## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vylkove,UA,45.4021,29.5860,58.71,83,12,1.25,few clouds
1,1,Vostok,RU,46.4856,135.8833,59.70,40,65,3.53,broken clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,28.06,100,75,20.71,light snow
3,3,Portland,US,45.5234,-122.6762,74.37,42,75,3.00,broken clouds
4,4,Bluff,NZ,-46.6000,168.3333,49.80,69,100,13.87,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Meulaboh,ID,4.1363,96.1285,78.06,85,100,9.26,overcast clouds
13,13,Havelock,US,34.8791,-76.9013,76.96,84,40,7.00,scattered clouds
14,14,Barra Do Garcas,BR,-15.8900,-52.2567,75.04,64,15,5.28,few clouds
22,22,Hays,US,30.0502,-98.0336,82.96,78,8,7.00,clear sky
23,23,Butaritari,KI,3.0707,172.7902,83.59,79,74,18.86,light rain
26,26,Atuona,PF,-9.8000,-139.0333,79.61,75,77,13.47,light rain
27,27,Bela,IN,25.9333,81.9833,79.90,78,99,13.69,overcast clouds
28,28,Teahupoo,PF,-17.8333,-149.2667,76.96,73,49,8.05,scattered clouds
30,30,Kapaa,US,22.0752,-159.3190,83.19,70,75,1.99,broken clouds
43,43,Hambantota,LK,6.1241,81.1185,79.14,89,40,24.65,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                208
City                   208
Country                208
Lat                    208
Lng                    208
Max Temp               208
Humidity               208
Cloudiness             208
Wind Speed             208
Current Description    208
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Meulaboh,ID,4.1363,96.1285,78.06,85,100,9.26,overcast clouds
13,13,Havelock,US,34.8791,-76.9013,76.96,84,40,7.00,scattered clouds
14,14,Barra Do Garcas,BR,-15.8900,-52.2567,75.04,64,15,5.28,few clouds
22,22,Hays,US,30.0502,-98.0336,82.96,78,8,7.00,clear sky
23,23,Butaritari,KI,3.0707,172.7902,83.59,79,74,18.86,light rain
...,...,...,...,...,...,...,...,...,...,...
672,672,Rewa,IN,24.5333,81.3000,81.84,68,79,11.10,broken clouds
682,682,Dawlatabad,AF,36.4141,64.9053,82.63,15,5,1.99,clear sky
688,688,Kapoeta,SS,4.7717,33.5903,79.23,47,87,13.47,overcast clouds
689,689,Gushikawa,JP,26.3544,127.8686,85.62,77,40,20.33,scattered clouds
692,692,Abu Dhabi,AE,24.4667,54.3667,89.62,45,0,17.60,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Meulaboh,ID,78.06,overcast clouds,4.1363,96.1285,
13,Havelock,US,76.96,scattered clouds,34.8791,-76.9013,
14,Barra Do Garcas,BR,75.04,few clouds,-15.8900,-52.2567,
22,Hays,US,82.96,clear sky,30.0502,-98.0336,
23,Butaritari,KI,83.59,light rain,3.0707,172.7902,
26,Atuona,PF,79.61,light rain,-9.8000,-139.0333,
27,Bela,IN,79.90,overcast clouds,25.9333,81.9833,
28,Teahupoo,PF,76.96,scattered clouds,-17.8333,-149.2667,
30,Kapaa,US,83.19,broken clouds,22.0752,-159.3190,
43,Hambantota,LK,79.14,scattered clouds,6.1241,81.1185,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.


import numpy as np

hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Meulaboh,ID,78.06,overcast clouds,4.1363,96.1285,Kost Pria
13,Havelock,US,76.96,scattered clouds,34.8791,-76.9013,Sherwood Motel
14,Barra Do Garcas,BR,75.04,few clouds,-15.8900,-52.2567,Hotel Pousada Tropical
22,Hays,US,82.96,clear sky,30.0502,-98.0336,Sinya on Lone Man Creek
23,Butaritari,KI,83.59,light rain,3.0707,172.7902,Isles Sunset Lodge

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))